<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <pages validateRequest="false" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

<appSettings>
    <add key="ClientPublicCert" value="E:\Cert\demo2.2c2p.com(public).cer" />
    <add key="ClientPrivateCert" value="E:\Cert\demo2.2c2p.com(2c2p).pfx" />
    <add key="ClientPrivatePass" value="2c2p" />

  <add key="secret_key" value="9fa04bd8cec1838168497ecc43496b1ec39463257c1d8d3f72addf3503de1edcdf2a2ab6c4eb324c2d377965f4602d9181cf2936a711436d94927f72297f1417" />
  <add key="URl" value="http://128.199.233.226/api/one_stop_callback.xml" />

  <!--production-->
  <add key="URl_prod" value="http://putetapp.com/api/one_stop_callback.xml" /> 
  
  
  
</appSettings>

</configuration>
